
# Created by https://www.gitignore.io/api/docker

#!! ERROR: docker is undefined. Use list command to see defined gitignore types !!#

# Created by https://www.gitignore.io/api/docker-compose

#!! ERROR: docker-compose is undefined. Use list command to see defined gitignore types !!#
